.container {
    background-color: rgba(81, 80, 82, 0.4);
    overflow: hidden; 
}
.container a{
    float: right;
    text-decoration: none;
    margin: 17px;
    font-weight: bold;
    padding: 16px 18px;
    text-align: center;
    color: rgb(252, 245, 245);
    font-size:120% ;
}
.container h2{
    float: left;
    color: rgb(252, 245, 245);
    margin: 10px;
    padding: 15px 17px;
    font-size: 200%;
}
body{
    background-image: url("./back2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.container a:hover{
    color: rgb(238, 197, 15);
}
.music{
    color: rgb(247, 242, 242);
    text-align: center;
    padding-top: 6%;
    font-size: 300%;
    font-family:'Russo One';
    font-weight: bold;
	height:100px;
}
.song{
    color:rgb(247, 242, 242) ;
    text-align: center;
    font-size: 120%;
    font-family:'Russo One';
    
    
}
.but .bun{
    margin-left: 40%;
    width:250px;
	height:50px;
	font-size:17px;
	
	font-family:'Russo One';
    border-radius: 60px;
	background-color:rgba(0,0,0,0.5);
	border:transparent;    
}
.jam{
	color:rgba(255,255,255,0.6);
	text-decoration:none;
	font-family:'Russo One';
}
.jam:hover{
	color:orange;
}
.foot a:hover{
	color:rgb(238, 197, 15);
}
.foot{
	margin-top:230px;
    padding:15px 17px;
	background-color:rgba(81, 80, 82, 0.4);
	overflow:hidden;
	
}
.foot a {
	color:white;
	 
	text-decoration:none;
	
}
.foot ion-icon{
	margin-left:20px;
	font-size:40px;
	padding:10px 13px;
}
.enjoy{
	color:white;
	float:right;
	font-size:24px;
	font-family:'Russo One';
	font-weight:bold;
	
}
